*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #EEEDEB;
}

h1{
    background-color: #2F3645;
    color: #F6DCAC;
    height: 5rem;
    text-align: center;
    line-height: 5rem;
}

.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover{
    opacity: 50%;
    cursor: pointer;
    background-color: #2F3645;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}

#user-score, #comp-score{
    font-size: 4rem;
}

.msg-container{
    text-align: center;
    margin-top: 4rem;

}

#msg {
    text-align: center;
    background-color: #2F3645;
    color: white;
    font-size: 2rem;
    margin-top: 5rem;
    display: inline-block; /* Make the element only as wide as its content */
    padding: 1rem;    /* Optional: Add some padding for better appearance */
    border-radius: 1rem;
}